html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

#main {
    display: flex;
    height: 100vh;
    background-color: #eeeeee;
    justify-content: center;
    align-items: center;
}

#calc {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 12px;
    padding: 16px;
    background-color: rgb(26, 26, 26);
    border-radius: 16px;
}

#display {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(218, 218, 218);
    padding: 16px;
    font-size: 56px;
    font-weight: 500;
    border-radius: 16px;
}

button {
    border: none;
    border-radius: 16px;
    font-size: 24px;
}

#zero {
    grid-column: span 2;
}

#clear, #sign, #percent {
    background-color: rgb(200, 200, 200);
}

#clear:active, #sign:active, #percent:active {
    background-color: rgb(230, 230, 230);
}

.operator, #equal {
    background-color: rgb(255, 155, 0);
}

.operator:focus, #equal:active {
    background-color: rgb(255, 175, 50);
}

.number, #zero, #decimal {
    background-color: rgb(95, 95, 95);
    color: white;
}

.number:active, #zero:active, #decimal:active {
    background-color: rgb(110, 110, 110);;
}